<!DOCTYPE html>
<head>
	{% set dashboard = true %}
	<title>Dashboard</title>
	{% include 'headsection.twig' %}
	<style>
		#iframe{
		width:100%;
		min-height:600px;
		}
		#teambutton{
			margin-bottom:10px;
		}
	</style>
	{% include 'analytics.twig' %}
</head>
<body>
	<header>
		{% include 'navbar.twig' %}
	</header>
	<section class = 'content'>
		<div class = "container-fluid">
			<div class = "row-fluid">
				<div class = "span12 well">
					<h1 class = "pull-center"> My Dashboard</h1>
					<ul class="nav nav-tabs">
						<li class = "active"><a href = "#current" data-toggle = "tab">My Team</a>
						<li><a href="#team" data-toggle = "tab">Performance</a></li>
						  <li>
						    <a href="#iframediv" data-toggle = "tab">Match Center</a>
						  </li>
						  
					</ul>
					<div class="tab-content">
						<div class = "tab-pane active pull-center" id = "current">
							<h2 class = "pull-center">My Team</h2>
							<a href = "team.php" id = "teambutton" class = "btn btn-primary pull-center">Edit Team</a>
							{% if zerocurrentresults is defined %}
  								<div class = "alert alert-error pull-center">
  									<strong>You haven't created your team</strong>
  								</div>
  							{% else%}
  							<table class = "table striped">
  									<tr>
  										<th>Player name</th>
  										<th>Player Cost</th>
  									</tr>
  									{% for performance in currentteam %}
  										<tr>
  											<td>{{ performance.player_full_name }}</td>
  											<td>{{ performance.player_cost }}</td>
  										</tr>
  									{% endfor %}
  								</table>
  							{% endif %}
						</div>
 						 <div class="tab-pane" id="iframediv">
 						 	<iframe id = "iframe" src = "{{ link }}">
 						 	</iframe>
 						 </div>
  						<div class="tab-pane pull-center" id="team">
  							<h2 class = "pull-center">Team Performance</h2>
  								<a href = "team.php" id = "teambutton" class = "btn btn-primary pull-center">Edit Team</a>
  							{% if zeroresults is defined %}
  								<div class = "alert alert-error pull-center">
  									<strong>You haven't played any matches yet</strong>
  								</div>
  							{% else%}
  								<table class = "table striped">
  									<tr>
  										<th>Player name</th>
  										<th>Player Cost</th>
  										<th>Player Score</th>
  									</tr>
  									{% for performance in teamperformance %}
  										<tr>
  											<td>{{ performance.player_full_name }}</td>
  											<td>{{ performance.player_cost }}</td>
  											<td>{% if performance.daily  == "-1"%}
  												0
  												{% else %}
  													{{ performance.daily }}
  												{% endif %}
  											</td>
  										</tr>
  									{% endfor %}
  								</table>
  							{% endif %}
  						</div>
  					</div>
				</div>
			</div>
		</div>
	</section>
	
<script type = "text/javascript">
	$("#iframe").load(function(){
		$(this).find("a").each(function(){
			$(this).attr("target","_self");
		})
	}).css("height",window.innerHeight()-100);
</script>
</body>
</html>