<!DOCTYPE html>
<head>
	{% set performances = true %}
	<title>Performances</title>
	{% include 'headsection.twig' %}
	<style>
		#performance-table{
			font-size:15px;
			margin-top:15px;
		}
	</style>
	{% include 'analytics.twig' %}
</head>
<body>
	<header>
		{% include 'navbar.twig' %}
	</header>
	<section class = "content">
		<div class = "container-fluid">
			<div class = "row-fluid">
				<div class = "span12 well">
					<h1 class = "pull-center">Player Scores till date</h1>
					<table class = "table table-striped" id = "performance-table">
						<tr>
							<th>Player Name</th>
							<th>Country</th>
							<th>Cost</th>
							<th>Day1</th>
							<th>Day2</th>
							<th>Day3</th>
							<th>Day4</th>
							<th>Day5</th>
							<th>Total Score</th>
						</tr>
						{% for players in playerlist %}
							<tr>
								<td>{{ players.player_full_name }}</td>
								<td>{{ players.player_country }}</td>
								<td>{{ players.player_cost }}</td>
								<td>
									{% if players.day1 == '-1' %}
										0
									{% else %}
										{{ players.day1 }}
									{% endif %}
								</td>
								<td>
									{% if players.day2 == '-1' %}
										0
									{% else %}
										{{ players.day2 }}
									{% endif %}
								</td>
								<td>
									{% if players.day3 == '-1' %}
										0
									{% else %}
										{{ players.day3 }}
									{% endif %}
								</td>
								<td>
									{% if players.day4 == '-1' %}
										0
									{% else %}
										{{ players.day4 }}
									{% endif %}
								</td>
								<td>
									{% if players.day5 == '-1' %}
										0
									{% else %}
										{{ players.day5 }}
									{% endif %}
								</td>
								<td>{{ players.totalscore }}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</section>
</body>